<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.behaviorexample.imgpreview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取sd卡图片 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- SD卡缓存图片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".PreviewActivity">
            <intent-filter>
                <action android:name="previewactivity"></action>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>